@font-face {
	font-family: 'Font Shui';
	src: local('Font Shui'), url('../fonts/font_shui/FONTSHUI.TTF') format('truetype');
}

/*
font-family: 'Delius Unicase', cursive;
font-family: 'Kavivanar', cursive;
font-family: 'Mali', cursive;
font-family: 'Chilanka', cursive;
*/

@keyframes nav_color {
	from {
		background-color: rgb(196, 240, 176);
	}
	to {
		background-color: gold;
	}
}

@keyframes ani_logo {
	0% {transform: rotate(0deg);left: 2%; top: 0;}
	16.6% {transform: rotate(360deg);left: 12%; top: 0;}
	33.3% {transform: rotate(720deg);left: 22%; top: 0;}
	50% {transform: rotate(1080deg);left: 32%; top: 0;}
	66.6% {transform: rotate(720deg);left: 22%; top: 0;}
	83.3% {transform: rotate(360deg);left: 12%; top: 0;}
	100% {transform: rotate(0deg);left: 2; top: 0;}
}

body {
	border: 0;
	padding: 0;
	margin: 0;
	background-color: rgb(6, 92, 6);
}

h1 {
	font-family: "Font Shui";
	font-variant: small-caps;
	font-weight: bold;
	font-size: 4em;
	color: white;
}

h2 {
	font-family: "Font Shui";
	font-variant: small-caps;
	font-size: 2em;
}

.center {
	/*	position: static; */
	text-align: center;
	align-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	vertical-align: center;
}

.fltrt {
	display: inline-block;
	float: right;
}

.fltlft {
	display: inline-block;
	float: left;
}

.banner {
	display: block;
	height: 100%;
	width: 100%;
	background-color: rgb(4, 51, 22);
	border: 0;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

/*******************BEGIN NAVIGATION CODE**********************/

.nav {
	display: block;
	height: 100px;
	width: 100%;
	color: white;
	background-color: white;
	animation-name: nav_color;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	border: 0;
	margin: 0;
	padding: 0;
}

.nav_text {
	border: 0;
	padding: 0;
	margin: 0;
}

.nav_img {
	height: 64px;
	width: 64px;
	border: 3px;
	left: 2%;
	margin: 0;
	padding: 0;
	border-style: solid;
	border-color: black;
	border-radius: 50%;
	position: relative;
}

.roll{	
	animation-name: ani_logo;
	animation-duration: 30s;
	animation-delay: 5s;
	animation-direction: alternate;
	animation-iteration-count: 3;
}

.nav_img:hover {
	height: 64px;
	width: 64px;
	animation-play-state: paused;
}

.main_nav_border {
	display: block;
	clear: left;
	height: 30px;
	width: 100%;
	background-color: rgb(6, 92, 6);
}

.bottom_border{
	display: block;
	clear: left;
	height: 30px;
	width: 100%;
	background-color: rgb(6, 92, 6);
}

.text_black {
	color: black;
}

.text_white {
	color: white;
}

.menu_filler {
	display: inline-block;
	height: 30px;
	width: 80%;
}

.main_tab {
	display: inline-block;
	width: 20%;
	font-family: "Font Shui";
	font-variant: small-caps;
	font-size: 1.5em;
	text-decoration: none;
	color: white;
	border: 0;
	margin: 0;
	margin-right: 3px;
	padding: 0;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-color: rgb(6, 92, 6);
	height: 37px;
}

.about_tab {
	display: inline-block;
	width: 20%;
	font-family: "Font Shui";
	font-variant: small-caps;
	font-size: 1.3em;
	text-decoration: none;
	color: lightgray;
	border: 0;
	margin: 0;
	margin-right: 3px;
	padding: 0;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-color: green;
	height: 35px;
}

.contact_tab {
	display: inline-block;
	width: 20%;
	font-family: "Font Shui";
	font-variant: small-caps;
	font-size: 1.3em;
	text-decoration: none;
	color: lightgray;
	border: 0;
	margin: 0;
	margin-right: 3px;
	padding: 0;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	background-color: rgb(12, 158, 12);
	height: 35px;
	position: relative;
	bottom: 0;
}

.main_tab:hover {
	font-size: 1.5em;
	color: white;
}

.contact_tab:hover {
	font-size: 1.5em;
	color: white;
}

.about_tab:hover {
	font-size: 1.5em;
	color: white;
}

/*******************END NAVIGATION CODE**********************/

.hero_title {
	font-family: 'Delius Unicase', cursive;
	/* font-family: 'Kavivanar', cursive; */
	/* font-family: 'Mali', cursive; */
	/* font-family: 'Chilanka', cursive; */
	position: static;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	/* height: 100px; */
	text-align: center;
	width: 98%;
	color: black;
	/* background-color: white;*/
	border-style: solid;
	/* border-color: yellowgreen;*/
	border-color: rgb(174, 212, 99);
	
	/* background-color: yellowgreen; */
	background-color: rgb(174, 212, 99);
}

.hero_box{
	display: block;
	height: 250px;
	width: 98%;
	border-style: solid;
	/* border-color: yellowgreen; */	
	border-color: rgb(174, 212, 99);
	/* border-radius: 4px;
	box-shadow: 5px 5px 10px; */

}

.hero_img {
	display: block;	
	height: 250px;
	width: 100%;
	object-fit: cover;
	object-position: 20% 20%;
	/* background-color: yellowgreen; */
	background-color: rgb(174, 212, 99);
	/* opacity: 0.9; */
}

.hero_img:hover {
	opacity: 1.0;
}

/*******************BEGIN FOOTER CODE**********************/

.footer_bar {
	position: static;
	bottom: 0;
	left: 0;
	display: block;
	clear: left;
	width: 100%;
	height: 6em;
	/* background-color: seagreen; */
	background-color: rgb(4, 51, 22);
}

.footer_text {
	font-size: 15px;
	color: white;
	text-align: left;
	margin: 0;
	text-align: center;
}

.footer_link{
	text-emphasis: none;
	text-decoration: none;
}

.social_bar {
	position: relative;
	display: block;
	height: 3em;
	width: 100%;
	left: auto;
	right: auto;
	align-items: center;
}

.social {
	display: inline;
	/* margin-right: 5px;
	line-height: 3em;
	height: 3em; */
}

.fab {
	color: white;
	padding: 10px;
}

/*******************END FOOTER CODE**********************/

/*******************BEGIN BODY CODE**********************/
.main_box{
	width: 96%;
	margin-left: auto;
	margin-right: auto;
}

.gallery {
	display: inline-block;
	height: 650px;
	width: 49.6%;
	border: 0;
	border: 1px;
}

.polaroid_pad {
	height: 7%;
	margin: auto;
}

.polaroid {
	width: 70%;
	height: 85%;
	margin: auto;
	border: 10px;
	border-color: white;
	background-color: white;
	box-shadow: 5px 5px 10px;
	border-radius: 3px;
}

.polaroid_border {
	width: 90%;
	height: 85%;
	margin: auto;
	background-color: white;
}

.polaroid_header {
	font-family: "Font Shui";
	width: 100%;
	height: 20%;
	line-height: 100px;
	/* to vertically align the element.  Only works for single-line text*/
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	font-size: 1.5em;
	text-align: center;
	color: black;
	font-variant: small-caps;
	background-color: white;
}

.polaroid_img {
	font-family: "Font Shui";
	width: 100%;
	height: 300px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	font-size: 1.5em;
	text-align: center;
	color: black;
	font-variant: small-caps;
	background-color: white;
	object-fit: cover;
	/* opacity: 0.8; */
	border-style: solid;
	border-color: lightgray;
	border-width: 0.5px;
}

.polaroid_img:hover {
	opacity: 1;
}

.polaroid_footer {
	font-family: "Chilanka";
	width: 100%;
	/* height: 150px; */
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5px;
	font-size: 1.05em;
	text-align: justify;
	color: black;
	font-variant: small-caps;
	background-color: white;
}

/*******************END BODY CODE************************/